# Database Configuration (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_7izeVGXpU6ES@ep-purple-bread-a2lhuyxh-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth Configuration
NEXTAUTH_URL="https://your-app.vercel.app"
NEXTAUTH_SECRET="Z2qVHeqZoE4+eove5oCOG1rlYerYcvCTKWP0yzoRqws="

# Google Maps API (Optional - for LocationPicker)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyDCnMRoUVB1yIVIrk9iubGDzI0cMVAaQ58"

# App Configuration
NODE_ENV="production"

# Vercel Configuration
VERCEL_URL="https://your-app.vercel.app"

# Push Notification VAPID Keys
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BDh_x27extbz8msB6VH1UVAG81KvgSCehZAMv4Su5FCoT3K2usPiA-7p7fcmWargeCeWWvZHQBSqgiMn5YRvvLw"
VAPID_PRIVATE_KEY="4KCGcrapFuV-dzfwNIGyVh6hWkiO6WVtauL4nfoJPhA"
VAPID_EMAIL="yalduzbey@gmail.com" 